<div>
    <%= link_to friend_request.user.username, user_path(friend_request.user.id) %>
</div>
<div>
    <%= button_to "Accept", accept_friend_request_path(friend_request.id), data: { turbo_method: :post} %>
    <%= button_to "Decline", decline_friend_request_path(friend_request.id), class: "delete", data: { turbo_method: :post} %>
</div>