<% content_for :stylesheets do %>
    .main-container {
        display: grid;
        grid-template-columns: 2fr 1fr;
        background-color: black;
    }
<% end %>

<div class="posts-with-form">
    <%= render 'form' %>
    <div id="posts" class="posts-container"><%= render @posts %></div>
</div>