* {
  box-sizing: border-box;
  margin: 0;
}

nav {
  display: flex;
  height: 10vh;
  padding: 10px 50px;
  justify-content: center;
  align-items: center;
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
}

.logo {
  height: 80%;
  width: auto;
}


