* {
  box-sizing: border-box;
  margin: 0;
  letter-spacing: 0.5px;
  font-size: 14px;
}

:root {
  --green: #006400;
  --charcoal: #36454f;
}

nav {
  display: flex;
  height: 10vh;
  padding: 10px 50px;
  justify-content: space-between;
  align-items: center;
  background-color: var(--green);
}

footer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10vh;
  background-color: var(--green);
}

footer p {
  color: white;
}

.logo {
  height: 80%;
  width: auto;
}

.logo:hover {
  opacity: 0.7;
}

a {
  text-decoration: none;
}

nav a {
  font-size: 16px;
  font-weight: 400;
  color: white;
}

.main-container {
  min-height: 80vh;
  padding: 40px 0;
  display: flex;
  justify-content: center;
}

.login-container {
  height: 100vh;
  background-color: var(--green);
  display: grid;
  grid-template-columns: 1fr 1fr;
  padding: 0 10vw;
}

.login-container > div {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-container div:first-child {
  align-items: flex-start;
  gap: 20px;
}

.login-logo {
  height: clamp(100px, 80%, 200px);
}

.login-container p {
  font-size: 3rem;
}

.login-inputs {
  background-color: var(--charcoal);
  border-radius: 30px;
  height: fit-content;
  width: fit-content;
  align-self: center;
  justify-self: center;
  padding: 40px;
  position: relative;
  box-shadow: 2px 2px 6px 0px grey;
}

.login-inputs p {
  font-size: 20px;
  font-weight: 400;
  margin-bottom: 14px;
}

.login-inputs input[type="text"], .login-inputs input[type="password"] {
  width: 250px;
  margin-top: 6px;
  padding: 6px 8px;
  border-radius: 8px;
  outline: none;
  border: solid 1px black;
}

.login-inputs form {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.login-inputs form label {
  font-size: 16px;
}

.login-inputs input[type="submit"] {
  border: none;
  border-radius: 8px;
  width: 100%;
  padding: 6px 0px;
  font-size: 18px;
  background-color: grey;
}

.login-inputs input[type="submit"]:hover {
  cursor: pointer;
  background-color: rgb(143, 138, 138);
  transition: 0.3s;
}

.sign-up-btn {
    padding: 10px 30px;
    border-radius: 8px;
    padding: 10px 0px;
    font-size: 18px;
    width: 40%;
    text-align: center;
    color: white;
}

.sign-up-btn:hover {
  text-decoration: underline;
}

.forgot-password {
  margin-top: 6px;
  color: white;
}

.forgot-password:hover {
  text-decoration: underline;
}

.github-btn {
  width: 250px;
  margin-top: 6px;
  padding: 6px 0px;
  border-radius: 8px;
  border: none;
  background-color: grey;
}

.github-btn:hover {
  cursor: pointer;
  background-color: rgb(143, 138, 138);
  transition: 0.3s;
}

.post {
  position: relative;
  width: 550px;
  display: flex;
  flex-direction: column;
  background-color: var(--green);
  gap: 4px;
  border-radius: 10px;
  padding: 30px 50px;
  box-shadow: 2px 2px 4px 1px grey;
}

.post-form-title {
  color: white;
  font-weight: 400;
}

.post .icon {
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
}

.post .icon:hover {
  cursor: pointer;
  opacity: 0.5;
}

.post .post-img {
  align-self: center;
  height: 400px;
  width: 400px;
  margin-bottom: 20px;
}

.post .text {
  margin-bottom: 20px;
  letter-spacing: 0.6px;
  word-spacing: 1.5px;
}

.post .horizontal-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 16px;
}

.horizontal-container div:first-child {
  display: flex;
  gap: 6px;
  align-items: center;
}

.account-options-container .horizontal-container {
  text-decoration: none;
  display: flex;
  align-items: center;
  gap: 6px;
  color: white;
}

.account-options-container .horizontal-container:hover {
  text-decoration: underline;
}

.account-options-container .icon {
  height: 20px;
}

.post-form .icon {
  height: 35px;
}

.post-form .icon:hover {
  cursor: pointer;
  opacity: 0.5;
}

.post-image-input {
  position: absolute;
  bottom: 35px;
  left: 5px;
}

.post-form {
  position: relative;
}

.post .author {
  text-decoration: none;
  font-size: 16px;
  color: white;
}

.post .post-time {
  font-size: 12px;
  color: white;
  font-weight: 400;
  display: flex;
  align-items: center;
}

.posts-with-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.posts-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 30px;
  width: 100%;
}

.post .show-comments {
  align-self: center;
  width: fit-content;
  text-align: center;
  color: white;
}

.post .show-comments:hover {
  cursor: pointer;
  scale: 1;
}

.post-form textarea {
  resize: none;
  outline: none;
  width: 500px;
  height: 100px;
  padding: 4px 6px;
  box-sizing: border-box;
  border: 2px solid black;
  border-radius: 4px;
}

.post-form input[type="submit"] {
  background-color: grey;
  border: none;
  padding: 8px 24px;
  border-radius: 6px;
  color: white;
}

.post-form input[type="submit"]:hover {
  cursor: pointer;
  background-color: rgb(143, 138, 138);
  transition: 0.3s;
}

.comments-container div {
  display: flex;
  align-items: center;
  gap: 4px;
  margin-bottom: 6px;
}

.comments-container a {
  font-weight: 400;
  text-decoration: none;
  color: white;
  margin-right: 6px;
}

.comment-form textarea {
  resize: none;
  outline: none;
  border: solid 2px black;
  border-radius: 10px;
  width: 100%;
  height: 60px;
  padding: 4px 4px;
}

.comment-form .post-btn {
  border: none;
  background-color: grey;
  border-radius: 8px;
  padding: 4px 20px;
  color: white;
}

.comment-form .post-btn:hover {
  cursor: pointer;
  background-color: rgb(143, 138, 138);
  transition: 0.3s;
}

.comment-form p:last-child {
  display: flex;
  justify-content: end;
}

.navbar-links {
  display: flex;
  gap: 50px;
  color: white;
}

nav .icon {
  height: 30px;
}

.navbar-links a {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 16px;
  font-weight: 400;
}

.navbar-links a:hover {
  opacity: 0.6;
}

.like-btn {
  height: 26px;
}

.like-btn:hover {
  cursor: pointer;
  scale: 1;
}

.post hr {
  border-top: 0.5px solid black;
}

.likes-container {
  display: flex;
  justify-content: space-between;
}

.likes-container .like-count {
  text-decoration: none;
  color: white;
}

.like-count:hover {
  cursor: pointer;
  text-decoration: underline;
}

.likes-container > div {
  display: flex;
  gap: 10px;
}

.profile-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 100%;
  position: relative;
}

.account-options-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: absolute;
  top: 40px;
  left: 5%;
  color: white;
  font-weight: bold;
}

.account-options-container hr {
  border-top: 1px solid black;
  margin-top: -18px;
}

.account-options-container * {
  font-size: 16px;
}

.add-friend-container {
  display: flex;
  align-items: center;
}

.friend-request-container {
  width: 500px;
  display: flex;
  justify-content: space-between;
  background-color: grey;
  padding: 25px 18px;
  border-radius: 10px;
  align-items: center;
}

.friend-request-container a {
  color: white;
  text-decoration: none;
  font-size: 16px;
}

.friend-request-container div {
  display: flex;
  align-items: center;
  gap: 14px;
}

.friend-request-container button {
  background-color: grey;
  color: white;
  padding: 6px 14px;
  border: none;
  border-radius: 10px;
}

.friend-request-container button:hover {
  cursor: pointer;
  opacity: 0.6;
}

.friend-request-container button.delete {
  background-color: rgb(136, 17, 17);
}

.add-friend-container button {
  background-color: grey;
  border: none;
  border-radius: 8px;
  padding: 8px 14px;
  font-weight: 400;
  color: white;
  cursor: pointer;
}

.add-friend-container .delete-btn {
  background-color: rgb(136, 17, 17);
}

.add-friend-container .delete-btn:hover {
  cursor: pointer;
  background-color: rgb(112, 13, 13);
}

.friends-status {
  font-weight: bold;
  color: white;
}

.friends-link {
  width: 40%;
  display: flex;
  justify-content: end;
}

.add-friend-container button:hover {
  background-color: rgb(143, 138, 138);
}

.profile-title {
  display: flex;
  width: 40%;
  justify-content: space-between;
}

.profile-title h1 {
  font-size: 30px;
  font-weight: 400;
  color: white;
}

.posts-buttons-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
  flex-direction: column;
}

.profile-posts-buttons {
  width: 40%;
  display: flex;
  gap: 20px;
  justify-content: center;
}

.profile-posts-buttons button {
  border: 2px solid black;
  background-color: grey;
  color: white;
  padding: 6px 12px;
  border-radius: 8px;
  font-weight: 400;
}

.profile-posts-buttons button:hover {
  cursor: pointer;
  background-color: rgb(143, 138, 138);
}

.posts-button-container hr {
  margin-top: -2px;
  width: 40%;
  border: 1px solid black;
}

.modal {
  position: fixed;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 60%;
  width: 22%;
  border-radius: 10px;
  border: 1px solid black;
  padding: 10px 20px;
  background-color: var(--green);
}

.modal div:first-child {
  display: flex;
  justify-content: space-between;
}

.modal div:first-child p:first-child {
  color: white;
  font-size: 16px;
  font-weight: 500;
}

.modal hr {
  border-top: 1px solid black;
}

.modal-list {
  height: 90%;
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 8px;
  overflow: auto;
}

.modal-link {
  display: flex;
  align-items: center;
  gap: 10px;
}

.modal-list a {
  text-decoration: none;
  color: white;
  font-weight: 500;
}

.profile-picture {
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.profile-picture-small {
  height: 35px;
  width: 35px;
  border-radius: 50%;
}

.profile-title div:first-child {
  display: flex;
  gap: 15px;
  align-items: center;
}

.notifications-container {
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.notification-container {
  background-color: var(--green);
  display: flex;
  align-items: center;
  justify-content: start;
  position: relative;
  border-radius: 10px;
  width: 500px;
  gap: 10px;
  padding: 25px 18px;
}

.notification-container a {
  text-decoration: none;
  color: white;
}

.notification-container .icon {
  position: absolute;
  height: 24px;
  top: 6px;
  right: 6px;
}

.notification-container .icon:hover {
  cursor: pointer;
  opacity: 0.6;
}

.vertical-container-buttons {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  width: 100%;
}

.top-page-buttons {
  display: flex;
  justify-content: end;
  width: 500px;
  gap: 20px;
}

.top-page-buttons a {
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px 16px;
  background-color: grey;
}

.top-page-buttons a:hover {
  background-color: rgb(143, 138, 138);
}

.top-page-buttons button {
  background-color: grey;
  border: none;
  color: white;
  border-radius: 10px;
  padding: 10px 16px;
}

.top-page-buttons button:hover {
  cursor: pointer;
  background-color: rgb(143, 138, 138);
}

.user-registration-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 550px;
  gap: 20px;
  background-color: var(--charcoal);
  border-radius: 20px;
  padding-top: 40px;
  padding-bottom: 20px;
}

.user-registration-container form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user-registration-container .field {
  display: flex;
  flex-direction: column;
  width: 300px;
}

.user-registration-container .field label {
  font-size: 16px;
  color: white;
  margin-bottom: 2px;
}

.user-registration-container .field input[type="text"], .user-registration-container .field input[type="email"], .user-registration-container .field input[type="password"] {
  width: 100%;
  outline: none;
  border: 1px solid black;
  padding: 4px;
  border-radius: 4px;
}

.user-registration-container input[type="file"]::file-selector-button {
  background-color: grey;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 8px 20px;
  font-size: 16px;
}

.user-registration-container input[type="file"]::file-selector-button:hover {
  opacity: 0.6;
}

.user-registration-container input[type="submit"]:hover {
  cursor: pointer;
  opacity: 0.6;
}

.user-registration-container .field input[type="text"]:focus ,.user-registration-container .field input[type="email"]:focus, .user-registration-container .field input[type="password"]:focus {
  transition: 0.3s;
  box-shadow: 0px 0px 3px 0px black;
}

.user-registration-container input[type="submit"] {
  width: 100%;
  background-color: grey;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 10px 0;
  font-size: 18px;
  margin-top: 10px;
}

.user-registration-container .back-btn {
  position: absolute;
  top: 0;
  right: -120px;
  background-color: grey;
  border: none;
  border-radius: 8px;
  color: white;
  padding: 8px 16px;
  font-size: 18px;
}

.user-registration-container .errors {
  font-size: 16px;
}

.user-registration-container li {
  margin-top: 6px;
  font-size: 14px;
}

.user-registration-container h2 {
  font-size: 22px;
  color: white;
}

.back-btn:hover {
  background-color: rgb(143, 138, 138);
}

.sidebar {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
}

.new-users {
  display: flex;
  flex-direction: column;
  gap: 5px;
  width: 320px;
  padding: 25px 40px;
  border-radius: 15px;
  background-color: var(--green);
}

.new-users p:first-child {
  font-size: 16px;
  font-weight: 500;
  color: white;
}

.new-users hr {
  border-top: 1px solid black;
  margin-top: 2px;
  margin-bottom: 10px;
}

.new-users a {
  display: flex;
  align-items: center;
  text-decoration: none;
  color: white;
  gap: 4px;
}

.new-users a:hover {
  text-decoration: underline;
}